@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: hsl(210, 100%, 40%);
  --highlight-color: hsl(59, 97%, 73%);
  --link-color: #000;
  --link-color-hover: hsl(150, 100%, 30%);
  --focus-color: hsl(40, 100%, 40%);
}

body,
html {
  @apply font-mono;
  @apply text-base;
  @apply leading-tight;
}

p + p {
  margin-top: 1em;
}

a:hover {
  color: var(--link-color-hover);
}

:focus,
.checkbox:focus-within {
  outline: dashed 2px var(--focus-color);
  outline-offset: 2px;
}
