.checkbox input[type="checkbox"]:focus + label {
  outline: dashed 2px var(--focus-color);
  outline-offset: 2px;
}

.checkbox label {
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.1rem 0.25rem;
  transition: background 150ms, color 150ms;
}

.form {
  padding: 1rem;
}
